//// START reset
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
// END reset


/// CLEANUP
html, body {
	overflow-x: hidden;
}

html {
	font-family: monospace;
}

.safari {
	display: none;
	font-family: monospace;
}

///STYLES
.background {
	position: fixed;

	left: -1%; top: -1%;
	z-index: -1;
	width: 101vw;
	height: 101vh;
	opacity: 0.9;

	&.fill-width img, img {
		width: auto;
		height: 100%;
	}

	&.fill-height img {
		width: 100%;
		height: auto;
	}
}

.container-full {
	z-index: 1;
	position: relative;
	padding-bottom: 30vh;

	overflow: hidden;
}

.content {
	width: 100%;
	position: relative;
}

#text {
	width: 45%;

	padding-top: 20%;
	margin-left: 10%;
	position: relative;
}

#logo {
	width: 25%;

	position: relative;
	margin-bottom: -2%;
	margin-top: 5%;
	margin-left: 5%;
}

#links {
	position: relative;
	padding-top: 5%;
	padding-bottom: 20%;
	text-align: center;

	.poster-links {
		display: inline-block;
		clear: both;
		width: 30%;
		min-width: 200px;
		margin-top: 50px;

		a {
			display: inline-block;
			width: 40%;
			height: 50px;
			line-height: 50px;
			border: 1px solid black;
			color: black;
			text-decoration: none;
			font-size: 130%;
			transition: all 100ms;
		}
		a:hover, a:focus {
			background-color: white;
		}
	}

	img {
		width: 100%;
		box-shadow: 0 0 15px -5px #000;
	}
}

@media all and (max-width: 600px) {
	#text {
		width: 80%;

	}
	#logo {
		width: 45%;
		clear: both;
		margin-left: 10%;
		bottom: -5%;
	}
}
